*{
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
}

body{
    background-color: #B7C8B6;
}

.header{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.aut_v{
    position: relative;
    right: 600px;
    font-size: 40px;
    padding-left: 27px;
}

.aut_vol{
    position: relative;
    right: 1520px;
    font-size: 40px;
    padding-left: 27px;
}

.aut_o{
    position: relative;
    right: 600px;
    font-size: 40px;
    padding-left: 67px;
}

.aut_oo{
    position: relative;
    right: 1500px;
    font-size: 40px;
}

nav{
    display: flex;
    margin: 2%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    border-radius: 26px;
    height: 115px;
}


nav p{
    font-size: 40px;
    padding: 3px;
}

nav img{
    width: 91px;
    height: 91px;
    padding-left: 41px;
}

.vr1{
    border-left: 1px solid #000000;
  height: 60px;
  position: absolute;
  left: 660px;
  top: 27px;
}

.vr2{
    border-left: 1px solid #000000;
  height: 60px;
  position: absolute;
  right: 660px;
  top: 27px;
}

.nav-links{
    flex: 1;
    margin-left: 338px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


.auth-btn{
    color: #000000;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px; 
}

.auth-btn::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #000000;;
        display: block;
        margin: auto;
        transition: 0.5s;
}

.auth-btn:hover::after{
    width: 100%;
}


.reg-btn{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 28px 34px;
    font-size: 23px;
    background: #000000;
    position: relative;
    cursor: pointer;
    border-radius: 26px;
    margin-left: 27px;
    margin-right: 21px;
}

.reg-btn:hover{
    border: 1px solid #000000;
    background: #FFFFFF ;
    color: #000000;
    transition: 0.4s;
}

/*---- info ----*/

.info{
    height: 700px;
    width: 1423px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.info h1{
    position: relative;
    width: 300px;
    left: 49px;
    top: 200px;
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    line-height: 56px;
}

.info p{
    position: relative;
    width: 362px;
    left: 49px;
    top: 230px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.main1{
    position: absolute;
    width: 549px;
    left: 740px;
    right: 648px;
    top: 268px;
}

.main1 img{
    width: 100%;
}

.main2{
    position: absolute;
    width: 300px;
height: 263px;
    left: 1304px;
    top: 268px;
}

.main2 img{
    width: 100%;
}

.main3{
    position: absolute;
    width: 300px;
    left: 1304px;
    top: 517px;
}

.main3 img{
    width: 100%;
}

.more-btn{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 22px 32px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 26px;
    top: 230px;
    left: 49px;
    margin: 49px 0 0 0;
}

.more-btn:hover{
    border: 1px solid #000000;
    background: #000000 ;
    color: #FFFFFF;
    transition: 0.4s;
}


/*---- contacts ----*/

.contacts{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 616px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.contacts h1{
    position: relative;
    left: 62px;
    top: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.contacts hr{
    position: absolute;
    width: 995px;
    left: 490px;
    top: 1025px;
    border: 1px solid #000000;;
}
.btn{
    position: relative;
    width: 34px;
    height: 41px;
    left: 1283px;
    top: 3px;
}

.text_cont{
    position: relative;
    width: 1116px;
    height: 210px;
    left: 68px;
    top: 65px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.single-logo{
    width:180px;
  }
  
  .brand-carousel {
      background: transparent;
      margin-left: 20px;
      top: 50px;
      overflow: hidden;
  }

  .owl-dots {
      text-align: center;
  }

  .owl-dot {
      display: inline-block;
      height: 12px !important;
      width: 12px !important;
      background-color:  #ABABAB !important;
      border-radius: 10%;
      margin: 0 18px;
  }

  .owl-dot.active {
      background-color: #404040 !important;
  }
  
  /*---- what we can ----*/

  .can{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 920px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.can h1{
    position: relative;
    left: 62px;
    top: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.can hr{
    position: absolute;
    width: 800px;
    left: 680px;
    top: 1700px;
    border: 1px solid #000000;;
}
.btn_can{
    position: relative;
    width: 34px;
    height: 41px;
    left: 1283px;
    top: 3px;
}

.item2 { 
    grid-area: menu;
}
.item2 img{
    width: 644px;
    height: 339px;
    border-radius: 20px;
}

.item2 h1{
    position: relative;
    width: 216px;
    height: 42px;
    left: 36px;
    top: -310px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    }

.item2 p{
    position: relative;
    width: 367px;
    height: 42px;
    left: 36px;
    top: -290px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.btn_vol{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 28px 34px;
    font-size: 23px;
    background: #000000;
    position: relative;
    cursor: pointer;
    border-radius: 26px;
    margin-left: 27px;
    margin-right: 21px;
    left: 10px;
    top: -200px
}

.btn_vol:hover{
    border: 1px solid #000000;
    background: #dedede ;
    color: #000000;
    transition: 0.4s;
}

.item3 { grid-area: main; width: 198px; margin-top: 30px;}
.item4 { grid-area: right; width: 198px; margin-top: 30px;}
.item5 { grid-area: footer; width: 198px;}
.item6 { grid-area: header; width: 198px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main right '
    'menu footer header ';
  grid-gap: 94px 61px;
  padding: 50px 0 0 58px;
  grid-template-columns: 644px 180px ;
  grid-template-rows: 90px;
  overflow: hidden;
}
.grid-container > div {
  padding: 50px 0 0 58px;
}


.item11 { 
    grid-area: menu;
}
.item11 img{
    width: 644px;
    height: 339px;
    border-radius: 20px;
}

.item11 h1{
    position: relative;
    width: 216px;
    height: 42px;
    left: 36px;
    top: -310px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    }

.item11 p{
    position: relative;
    width: 367px;
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.btn_org{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 28px 34px;
    font-size: 23px;
    background: #000000;
    position: relative;
    cursor: pointer;
    border-radius: 26px;
    margin-left: 27px;
    margin-right: 21px;
    left: 10px;
    top: -200px
}

.btn_org:hover{
    border: 1px solid #000000;
    background: #dedede ;
    color: #000000;
    transition: 0.4s;
}

.item7 { grid-area: main; width: 198px; margin-top: 30px;}
.item8 { grid-area: right; width: 198px; margin-top: 30px;}
.item9 { grid-area: footer; width: 198px;}
.item10 { grid-area: header; width: 198px;}

.grid-container1 {
  display: grid;
  grid-template-areas:
    'right main menu'
    'header footer menu';
  grid-gap: 94px 61px;
  grid-template-columns: 200px 180px ;
  grid-template-rows: 90px;
  position: relative;
  left: 200px;
  bottom: 200px;
  overflow: hidden;
}

.info_c{
    position: relative;
    bottom: 300px;
    left: 36px;
}
.grid-container > div {
  padding: 0 50px 58px 0;
}

  /*---- events ----*/

.events{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 790px;;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.events h1{
    position: relative;
    left: 62px;
    top: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.events hr{
    position: absolute;
    width: 819px;;
    left: 670px;
    top: 2670px;
    border: 1px solid #000000;
}
.btn{
    position: relative;
    width: 34px;
    height: 41px;
    left: 1283px;
    top: 3px;
}

.row img{
    width: 30px;
    height: 30px;
    margin: 6px 24px 14px 23px;
}
.events-col {
    box-sizing: border-box;
    height: 450px;
    width: 340px;   
    margin-left: 51px;  
    margin-top: 47px;
    border:1px solid #000000;
    border-radius: 26px;
    display: inline-block;
  }
  
  .row {
      display: table;
      width: 1400px;
      position: relative;
      left: 88px;
  }

.main_e{
    margin: 30px 24px 14px 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.task_e{
    margin: 30px 24px 14px 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
}
.task{
    margin: 6px 24px 14px 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.adress_e{
    position: relative;
    left: 60px;
    bottom: 50px;
    width: 235px;
    
}

.date_e{
    position: relative;
    left: 60px;
    bottom: 80px;
    width: 235px;
}
.calendar{
    position: relative;
    bottom: 30px;
}

.btn_e{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 28px 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background:#FFFFFF;
    position: relative;
    cursor: pointer;
    border-radius: 26px;
    margin-left: 27px;
    margin-right: 21px;
    bottom: 20px;
    left: 1020px;
}

.btn_e:hover{
    border: 1px solid #000000;
    background: #000000;
    color: #FFFFFF;
    transition: 0.4s;
}

 /*---- footer ----*/


.footer{
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 269px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.adresa{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 30px 24px 14px 50px;
}
.adresa p{
    margin: 14px 14px;
}

.email{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 30px 24px 14px 50px;
    left: 478px;
    bottom: 180px;
}

.email p{
    margin-bottom: 14px;
}

.email a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.me{
    position: relative;
    font-weight: 400;
    width: 380px;
    font-size: 18px;
    line-height: 21px;
    left: 980px;
    bottom: 250px;
}

.links_b{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 30px 24px 14px 50px;
    left: 350px;
    bottom: 180px;
}

.links_b a{
    text-decoration: none;
    color: #868686;
    cursor: pointer;
    padding: 30px 24px 5px 50px;
}


 /*---- contacts.php ----*/

.main_contacts{
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    align-items: center;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: left;
    position: relative;
    left: 1050px;
    width: 300px;
    border-bottom: 1px solid black;
    font-size: 20px;
    line-height: 28px;
}


.tab button.active {
    border-left:  7px solid black;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    width: 900px;
    position: relative;
    bottom: 200px;
    text-align: left;
    margin-top: 60px;
    margin-left: 65px;
    font-size: 18px;
    line-height: 28px;
}

.tab ul{
    margin-top: 40px;
}

.zagolovok{
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 20px;
}

#info p {
    margin-bottom: 25px;
}

#contacts1 img{
    width: 30px;
    height: 30px;
}

#contacts1 hr{
    color: #000000;
}

.c_in{
    position: relative;
    left: 50px;
    bottom: 30px;
}

.c_i{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
}

.c_info{
    margin-top: 20px;
    margin-bottom: 20px;
}

#contacts1 iframe{
    width: 899px;
}

#contacts1 a{
    text-decoration: none;
    color: #d00d0d;
}

#reg li{
    list-style-image: url(img/leaves.png);
}
#reg p{
    margin-top: 20px;
    margin-bottom: 50px;
}

#reg ul{
    position: relative;
    left: 30px;
}
/* Authorisation */
.aut{
    width: 742px;
    height: 561px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 26px;
    border: 1px solid #000000;
}


.aut h5{
    padding-top: 80px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.aut span{
    color: #d00d0d;
}

.aut input{
    width: 666px;
    height: 47px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-left: 30px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.msg{
    text-align: center;
    padding-right: 20px;
    color: #d00d0d;
}

.aut p{
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
    margin-left: 30px;
}

.aut button{
        display: inline-block;
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #000000;
        font-size: 23px;
        background: #000000;
        position: relative;
        cursor: pointer;
        border-radius: 26px;
        margin-top: 30px;
        margin-left: 30px;
        transition: 0.5s;
        width: 681px;
        height: 47px;
        text-align: center;
    }
    
.aut button:hover{
        border: 1px solid #000000;
        background: #FFFFFF ;
        color: #000000;
        
}

/* registration */

.link_reg{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.img_profile{
    font-size: 18px;
}



.link_reg a{
    text-decoration: none;
    color: #d00d0d;
}

.reg{
    width: 742px;
    height: 650px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 26px;
    margin-bottom: 50px;
    border: 1px solid #000000;
}

.reg_volun{
    width: 742px;
    height: 750px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 26px;
    margin-bottom: 50px;
    border: 1px solid #000000;
}

.reg_volun h5{
    padding-top: 80px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.reg h5{
    padding-top: 80px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.reg_volun span{
    color: #d00d0d;
}

.reg span{
    color: #d00d0d;
}

.reg_volun input{
    width: 666px;
    height: 47px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-left: 30px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.reg input{
    width: 666px;
    height: 47px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-left: 30px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.reg_volun p{
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
    margin-left: 30px;
}

.reg p{
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
    margin-left: 30px;
}

.reg_volun button{
    display: inline-block;
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #000000;
        font-size: 23px;
        background: #000000;
        position: relative;
        cursor: pointer;
        border-radius: 26px;
        margin-top: 30px;
        margin-left: 30px;
        transition: 0.5s;
        width: 681px;
        height: 47px;
        text-align: center;
}

.reg_volun button:hover{
    border: 1px solid #000000;
        background: #FFFFFF ;
        color: #000000;
}

.reg button{
        display: inline-block;
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #000000;
        font-size: 23px;
        background: #000000;
        position: relative;
        cursor: pointer;
        border-radius: 26px;
        margin-top: 30px;
        margin-left: 30px;
        transition: 0.5s;
        width: 681px;
        height: 47px;
        text-align: center;
    }
    
.reg button:hover{
        border: 1px solid #000000;
        background: #FFFFFF ;
        color: #000000;
        
}

.password-control {
	position: absolute;
	top: 590px;
	right: 625px;
	display: inline-block;
    width: 30px;
    height: 30px;
	background: url(img/icon-eye.png) 0 0 no-repeat;
}
.password-control.view {
	background: url(img/hide.png) 0 0 no-repeat;
}

.password-control1 {
	position: absolute;
	top: 490px;
	right: 625px;
	display: inline-block;
    width: 30px;
    height: 30px;
	background: url(img/icon-eye.png) 0 0 no-repeat;
}
.password-control1.view {
	background: url(img/hide.png) 0 0 no-repeat;
}

.tel{
    position: absolute;
	top: 590px;
	right: 625px;
	display: inline-block;
    width: 30px;
    height: 30px;
}

.password-control2 {
	position: absolute;
	top: 490px;
	right: 630px;
	display: inline-block;
    width: 30px;
    height: 30px;
	background: url(img/icon-eye.png) 0 0 no-repeat;
}
.password-control2.view {
	background: url(img/hide.png) 0 0 no-repeat;
}

.password-control3 {
	position: absolute;
	top: 890px;
	right: 605px;
	display: inline-block;
    width: 30px;
    height: 30px;
	background: url(img/icon-eye.png) 0 0 no-repeat;
}
.password-control1.view {
	background: url(img/hide.png) 0 0 no-repeat;
}


.password-control4 {
	position: absolute;
	top: 890px;
	right: 605px;
	display: inline-block;
    width: 30px;
    height: 30px;
	background: url(img/icon-eye.png) 0 0 no-repeat;
}
.password-control1.view {
	background: url(img/hide.png) 0 0 no-repeat;
}

/* Profile volunteer */

.profile{
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 40px 20px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.profile h2{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}



.otc_p{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.otc_p p{
    margin-bottom: 10px;
}

.otc_i{
    position: relative;
    bottom: 110px;
    left: 290px;
}

.profile p{
    position: relative;
    bottom: 170px;
    left: 300px;
    font-size: 20px;
}

.profile_v{
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 40px 20px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.profile_v h2{
    font-size: 38px;
    margin-left: 50px;
    margin-top: 40px;
}

.img_p{
    width: 151px;
    height: 147px;
    border-radius: 100px;
    margin: 20px 40px 20px 40px;
}

.icons{
    position: relative;
    bottom: 142px;
    left: 250px;
}
.profile_v h3{
    font-size: 24px;
    margin-left: 50px;
    position: relative;
    bottom: 157px;
    margin-top: 40px;
}

.otc_h2{
    font-size: 24px;
    margin-left: 50px;
    position: relative;
    bottom: 157px;
    margin-top: 40px;
}

.table_otc{
    position: relative;
    bottom: 142px;
    width: 1300px;
    margin-left: 46px;
}
.table_v{
    position: relative;
    bottom: 142px;
    width: 1300px;
    margin-left: 46px;
}

.table_o{
    position: relative;
    bottom: 1px;
    width: 1300px;
    margin-left: 80px;
    margin-top: 20px;
}

.profile_o{
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 40px 20px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.main_i_o{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.main_i_o p{
    margin-bottom: 10px;
}

.icon_o{
    position: relative;
    bottom: 30px;
    margin-left: 50px;
}

.profile_o h3{
    margin-left: 50px;
    margin-top: 30px;
}

.profile_o h2{
    font-size: 38px;
    margin-left: 50px;
    margin-top: 40px;
}

.profile_v p{
    position: relative;
    bottom: 170px;
    left: 300px;
    font-size: 20px;
}
.action{
    position: relative;
    top: 2px;
    right: 50px;
    z-index: 1;
}

.action .profile_small{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile_small img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.3);;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 28px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    transform: rotate(45deg);
}

.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    
}

.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    margin-left: -40px;
}

.action .menu ul li img{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #868686;
    font-weight: 400;
    transition: 0.5s;
}

.action .menu ul li:hover a{
    color: #d00d0d;
}

/* events */

.event_more{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    height: 930px;
    width: 1423px;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.row p{
    font-size: 18px;
}

.btn_zayavka{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background:#000000;
    cursor: pointer;
    border-radius: 26px;
}

.btn_zayavka:hover{
    border: 1px solid #000000;
    background: #FFFFFF;
    color: #000000;
    transition: 0.4s;
}

.task_bd{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}


.event_more img{
    width: 30px;
    height: 30px;
}

.event_more .row{
    height: 500px;
    width: 369px;  
    border:1px solid #000000;
    border-radius: 26px;
    margin-left: 30px;
}

.adres_ev img{
   margin-top: 30px;
   vertical-align: middle;

}


.task_org{
    text-decoration-line: underline;
    margin-left: 20px;
}

.poisk{
    position: relative;
    left: 62px;
    top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.event_more h1{
    padding-top: 50px;
    margin-left: 62px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}
.event_more .kalendar_btn{
    text-decoration: none;
    color: #000000;
    position: relative;
    top: 20px;
    left: -10px;
}

.event_more .kalendar_btn1{
    text-decoration: none;
    color: #000000;
    position: relative;
    bottom: 90px;
    left: 320px;
}

.kalendar{
    margin-left: 62px;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    height: 90px;
}

.kalendar p{
    position: relative;
    bottom: 40px;
    left: 50px;
}


.container{
    margin-left: -30px;
    display: flex;
    width: 1300px;
    
}

.row{
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 40px;
}

.row h4{
    font-size: 18px;
    line-height: 21px;
    margin: 30px 20px 20px 20px;
}

.hr{
    margin-left: 60px;
    width: 1300px;
    background: #000000;
    height: 1px;
}

.row img{
    width: 30px;
    height: 30px;
    margin: 6px 24px 14px 23px;
}


.edit{
    height: 700px;
    width: 1000px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 26px;
}

.aut_volun{
    position: relative;
    left: 600px;
}

.edit h1{
    text-align: center;
    padding-top: 30px;
}

.form_reg_vol{
    height: 750px;
}

.form_reg{
    margin-left: 300px;
    margin-top: 30px;
}

.form_reg p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_reg input{
    width: 400px;
    height: 47px;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.form_reg button{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    margin-left: 280px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background:#000000;
    cursor: pointer;
    border-radius: 26px;
}

.form_reg button:hover{
    border: 1px solid #000000;
    background: #FFFFFF;
    color: #000000;
    transition: 0.4s;
}